
* { box-sizing: border-box; }

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #dee2e6;
    color: #353536;
    font-size: 14px;
    line-height: 1;
} 
.text{
    padding:1.2rem;
    font-size: 1rem;
    line-height: 1.6rem;
}
img{
    width: 100%;
    height: auto;
}
.carmel {
    color: #954425;
}
a, a:link, a:visited, a:hover, a:active, .item:hover, .item:active {
    cursor: crosshair;
    text-decoration: none;
    outline: none;
}
section {
    max-width: 100%; height: auto;
}
.sold {
	background: rgb(221, 221, 134);
}
.swiper-wrapper {
    cursor: url(../img/drag.png) 16 16, ew-resize !important;
}
.mn-banner{
    position: relative;
    display:block;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    font-size: 50px;
    color: #954425;
    margin: 30px auto;
}
/*.mn-function{
    font-size: 2.3rem;
}
*** side-lidt-text ****/
/*.slide-lidt-text, 
.pottery-title {
    position: relative;
    display: inline-block;
    padding: 2rem;
    text-align: center;
    width: 100%;  
}*/
.slide-lidt-text span,
.pottery-title span {
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    font-size: 45px;
    color:#954425;
}
/*
.mobile-toggle-slide ul {
    position: relative;
    left: 0px;
    top: 0px;
    min-width: 100%;
    padding: 0 10%;
    z-index: 50;
    box-shadow: 0px 35px 79px rgba(4, 5, 5, 0.5);
}
.slide-toggle-list {
        display: block;
    }
***** grid *********
.grid:after {
    content: '';
    display: block;
    clear: both;
}*/
.grid { 
    position: relative;
    height: 100%;
    width: 100%;
    margin:0 auto; 
}
.grid-item { float:left; width: 24.52%; padding: 3px; }
.grid-item--width2 { float:left; width: 33.3%; padding: 3px; }
.gutter-sizer { width: 2%; }


.grid-item { width: 25% }
.grid-item--width2 { width: 33%; }

.grid-item img {
    display: block; 
    max-width: 100%;
}

/****Project desc ******/
.project-item {
    position: relative;
    width: 100%;
    /*height: 100%;*/
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}
.project-item img {
    width: 100%;     
    display: block;
    opacity: 1;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-backface-visibility:hidden;
    backface-visibility: hidden;
}
.project-item img:hover, .project-item img:active {
    opacity: 1.0;
    cursor: crosshair;
}
.project-title {
    position: absolute;  
    left: 4%;
    right: 4%;
    bottom: 0;
    padding: 2%;
    opacity: 0;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    transition: 0.5s ease;
    background: rgba(251, 250, 249, 0.5);
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    text-align: center;
    max-width: 100%;
    color: #483726;
}
.project-title .title-h2 {
    font-size: 38px;
    line-height: 38px;
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    color: #483726;
}

.project-title .sub-title .sm {
    color: #534733;
   padding-bottom: 5px;
    font-size: 14px;
    font-weight: 700;
}
@media (max-width: 1400px) {
	.project-title .sub-title {
		margin-bottom: 10px;
		font-weight: 700;
		padding-bottom: 7px;
    } 
}
/**** isotope grid ***/
@media (max-width: 480px) {
    .grid-sizer,
    .grid-item {
        width: 50%
    }
    .project-title .title-h2 {
        font-size: 28px;
        line-height: 38px;
    }
    .project-title .sub-title {
        font-size: 11px;
    }
}/*****item-scale-hover *****/
.grid-item.scale-hover:hover .project-item,
 .grid-item--width2.scale-hover:hover .project-item {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    z-index: 5;
    box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.4);
}
.grid-item--width2.scale-hover:hover .project-item .project-title,
.grid-item.scale-hover:hover .project-item .project-title {
    opacity: 1;
}
/*------- #about ----*/
#about {
    position:  relative;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;       
}
.left-column, .right-column  {
    position: relative;
    width: 100%;
   float: left;
    overflow: hidden;     
}
.right-column {
    background-color: #ccd0d3;  
}
.wrapper { 
    display: grid;
    grid-template-columns: repeat( 3, 1fr);
    grid-auto-rows: minmax(130px, auto);
    grid-gap: 0.4em;
}
.box1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    background-image:url('img/twincups.jpg');
    background-repeat: no-repeat;
    background-size: contain;
  }
.box2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end:1;
    background-image:url('img/marj-3-vases.jpg');
    background-repeat: no-repeat;
    background-size: contain;
} 
.box3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    background:url('img/marj-wallbowls.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}
.left-column {
    background-color: #c98528;
} 
.email-marg {
    margin:auto;
} 

.solo-baner.overflowh {
  overflow: hidden;
}
.solo-main-title .title-md {
    font-family: 'Amatic SC', cursive; 
    font-size: 2.5rem;
    line-height: 1.5;
    font-weight: 700;
    text-align: center;
}
.title-sm {
    font-family: 'Amatic SC', cursive; 
    font-size: 30px;
    line-height: 35px;
    font-weight: 700;
    text-align: center;
}
.solo-sub-title {
    position: absolute;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    font-weight: 700;
    color: #954425;
    display: block;

    left: -30px;
    top: 160px;
}
.contact-wrap a{
    font-size: 18px;
}
 
@media (min-width: 576px) {   
    .solo-main-title {
        padding: 3px 15px;
        font-size: 24px;
        line-height: 30px;
    }
    .solo-main-title .simple-text.md p {
        font-size: 14px;
        line-height: 22px;
        padding: 10px 20px;
    }  
    .solo-main-title .title-md {
        font-size: 24px;
        line-height: 30px;
        padding-top: 40px;
        padding-bottom: 20px;
        text-align: center;
    }       
    .addr-list li a {
        font-size: 18px;
        line-height: 24px;
    }
    .solo-main-title.vertical-align, .inside-img img.solo-main-title {
        padding: 5px 15px;
    }      
} 
@media (min-width: 768px) {
    .left-column, .right-column {
        width: 50%;
    }
    .solo-baner {
        height: auto;
    }
    .solo-main-title {
        padding: 30px;
    }
    .solo-main-title .title-md {
        font-size: 46px;
        line-height: 56px;
    }
    .box1 .title-sm  {
       font-size: 25px;
       color: #b3b325; 
    }
    .solo-main-title.vertical-align, .solo-main-title.close,.solo-main-title.val, .inside-img img.solo-main-title {
        padding: 30px;
    }
    .solo-sub-title {
        position: relative;
        left: 0px;
        top: 0px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
        padding: 0px 0px 0px 30px;
    } 
}
@media (min-width: 992px) {
    .mn-banner {
        font-size: 4.5rem;
     }
}

 @media (min-width: 1200px) { 
    .solo-main-title .title-md {
        font-size: 40px;
        line-height: 36px;
        padding: 20px;
    }
  /*  .solo-main-title .sub-title {
        font-size: 18px;
        line-height: 28px;
        padding: 30px;
    }
 
.solo-main-title .img-caption {
    font-family: 'Open Sans', san-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    padding-top: 20px;
    padding-bottom: 30px;
}*/
 }
    /****FOOTER******/
#footer {
   background-color:#954425;  
}
.copyright {
    width: 100%;
    font-size: 1rem;
    text-align: center;
    color:black;
}