* { box-sizing: border-box; }

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #ffc598;
    background-color: #f4bba7;
    color: #29292a;
    font-size: 14px;
    overflow-x: hidden;
.text{
    padding:1.2rem;
    font-size: 1rem;
    line-height: 1.5rem;
}
/*.bg-img {
    background-image: ('img/2024/24-20');
    background-position: center center;
    background-size: auto;
    height: 100vh;
    display: flex;
    align-items: center;
}*/
img{
    width: 100%;
    height: auto;
}
.carmel {
    color: #b3706b;
}
a, a:link, a:visited, a:hover, a:active, .item:hover, .item:active {
    cursor: crosshair;
    text-decoration: none;
    outline: none;
}
/*section {
    max-width: 100%; height: auto;
}*/

.swiper-wrapper {
    cursor: url(../img/drag.png) 16 16, ew-resize !important;
}
.mn-banner{
    position: relative;
    display:block;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    font-size: 60px;
    color: #999099;
    color: #7d7a7d;
}
.slide-lidt-text span,
.pottery-title span {
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    font-size: 50px;
    color:#b38a6b;
   color: #aa8467;
}
.grid { 
    position: relative;
    height: 100%;
    width: 100%;
    margin:0 auto; 
}
.grid-item { float:left; width: 24.52%; padding: 8px; }
.grid-item--width2 { float:left; width: 33.3%; padding: 8px; }
.gutter-sizer { width: 2%; }
.grid-item img {
    display: block; 
    max-width: 100%;
}
/****Project desc ******/
.project-item {
    position: relative;
    width: 100%;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}
.project-item img {
    width: 100%;     
    display: block;
    opacity: 1;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-backface-visibility:hidden;
    backface-visibility: hidden;
}
.project-item img:hover, .project-item img:active {
    opacity: 1.0;
    cursor: crosshair;
}
.project-title {
    position: absolute;  
    left: 4%;
    right: 4%;
    bottom: -17px;
    padding: 2%;
    opacity: 0;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    transition: 0.5s ease;
    background: rgba(251, 250, 249, 0.5);
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    text-align: center;
    max-width: 100%;
    color: #483726;
}
.project-title .title-h2 {
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    color: #483726;
}
.project-title .sub-title .sm {
    color: #534733;
   padding-bottom: 3px;
    font-size: 10px;
    font-weight: 700;
}
.project-title .simple-text .sm {
    color: #534733;
   padding-bottom: 2px;
    font-size: 9px;
    font-weight: 700;
}
/*****item-scale-hover *****/
.grid-item.scale-hover:hover .project-item,
 .grid-item--width2.scale-hover:hover .project-item {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    z-index: 5;
    box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.4);
}
.grid-item--width2.scale-hover:hover .project-item .project-title,
.grid-item.scale-hover:hover .project-item .project-title {
    opacity: 1;
}
/*------- #about ----*/
#about {
    position:  relative;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;       
}
.left-column, .right-column  {
    position: relative;
    width: 100%;
   float: left;
    overflow: hidden;     
}
.right-column {
    background-color: #b8a9b8;  
}
.wrapper { 
    display: grid;
    grid-template-columns: repeat( 3, 1fr);
    grid-auto-rows: minmax(130px, auto);
    grid-gap: 0.4em;
}
.box1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    background-image:url('img/twincups.jpg');
    background-repeat: no-repeat;
    background-size: contain;
  }
.box2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end:1;
    background-image:url('img/marj-3-vases.jpg');
    background-repeat: no-repeat;
    background-size: contain;
} 
.box3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    background:url('img/marj-wallbowls.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}
.left-column {
    background-color: #fff0e5;
} 
.solo-baner.overflowh {
  overflow: hidden;
}
.solo-main-title .title-md {
    font-family: 'Amatic SC', cursive; 
    font-size: 2.5rem;
    line-height: 1.5;
    font-weight: 700;
    text-align: center;
}
.title-sm {
    font-family: 'Amatic SC', cursive; 
    font-size: 30px;
    line-height: 35px;
    font-weight: 700;
    text-align: center;
}
.solo-sub-title {
    position: absolute;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    font-weight: 700;
    color: #b3706b;
    display: block;

    left: -30px;
    top: 160px;
}
.contact-wrap a{
    font-size: 18px;
}
 @media (max-width: 480px) {
    .grid-sizer,
    .grid-item {
        width: 50%
    }
     .title-h2 {
        font-size: 28px;
    }
}

@media (min-width: 768px) {
    .left-column, .right-column {
        width: 50%;
    }
    .solo-baner {
        height: auto;
    }
    .solo-main-title .title-md {
        font-size: 30px;
    }
    .box1 .title-sm  {
       font-size: 25px;
       color: #b3b325; 
    }
    .solo-main-title.vertical-align, .solo-main-title.close,.solo-main-title.val, .inside-img img.solo-main-title {
        padding: 30px;
    }
    .solo-sub-title {
        position: relative;
        left: 0px;
        top: 0px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
        padding: 0px 0px 0px 30px;
    } 
}
.copyright {
    width: 100%;
    font-size: 1rem;
    text-align: center;
    color:black;
}