html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body * {
    -webkit-text-size-adjust: none;
    box-sizing: border-box;
}
input:focus, select:focus, textarea:focus, button:focus, input:invalid {
    outline: none;
    box-shadow: none;
}
input, textarea, select {
    font-weight: 400;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0;
    border: 0px none;
}

select::-ms-expand {
    display: none;
}
a, a:link, a:visited, a:hover, a:active, .item:hover, item:active {
    cursor: crosshair;
    text-decoration: none;
    outline: none;
}
body {
    font-weight: normal;
    font-size: 14px;
    line-height: 1;
}

ul, ol {
    list-style: none;
}

.marj-blue {
    color: #40708a;
}
marj-brown {
    color: #534733;
}

.swiper-wrapper {
    cursor: url(../img/drag.png) 16 16, ew-resize !important;
}
/***** BOOTSTRAP  ***/
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    height: 100%;
}
.row {
    margin-left: -15px;
    margin-left: 0px;
    margin-right: -15px;
    margin-right: 0px;
}

 /*  .clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after {
        content: " ";
        display: table;
    }

    .clearfix:after, .container:after, .container-fluid:after, .row:after {
        clear: both;
    }*/ 

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/***** Preload *****/
.preload {
    position: fixed;
    left: 0px;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 5000;
}
.loader {
    width: 450px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-size: 24px;
    font-family: 'Amatic SC', cursive;
    font-family: 'Merienda', cursive;
    color: #483726;
    font-weight: 700;
    letter-spacing: 0.3em;
}
 /*   .loader::before, .loader::after {
        content: "";
        display: block;
        width: 25px;
        height: 7px;
        background: #483726;
        position: absolute;
        animation: load .7s infinite alternate ease-in-out;
        -webkit-animation: load .7s infinite alternate ease-in-out;
    }
    .loader::before {
        top: 0;
    }
    .loader::after {
        bottom: 0;
    }
@keyframes load {
    0% {
        left: 0;
        height: 12px;
        width: 7px;
    }
    50% {
        height: 6px;
        width: 40px;
    }
    100% {
        left: 450px;
        height: 12px;
        width: 7px;
    }
}
@-webkit-keyframes load {
    0% {
        left: 0;
        height: 30px;
        width: 7px;
    }
    50% {
        height: 8px;
        width: 40px;
    }
    100% {
        left: 235px;
        height: 60px;
        width: 7px;
    }
}
@-moz-keyframes load {
    0% {
        left: 0;
        height: 30px;
        width: 15px;
    }
    50% {
        height: 8px;
        width: 40px;
    }
    100% {
        left: 235px;
        height: 30px;
        width: 15px;
    }
}*/
/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 4. TYPOGRAPHY*/
/*-------------------------------------------------------------------------------------------------------------------------------*/
body, html {
    width: 100%;
}
    body.full-h, html.full-h {
        height: 100%;
    }
body {
    font-family: 'Open Sans', sans-serif;
    color: #4d4d4e;
}
    body.overflow {
        overflow: hidden;
    }
.bg, .service-layer {
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: contain;
    backface-visibility: hidden;
}

.simple-text {
    position: relative;
}
    .simple-text p {
        font-size: 16px;
        line-height: 28px;
        font-weight: 500;     
    }

    .simple-text.large p {
        font-size: 36px;
        line-height: 36px;
    }

    .simple-text.lg p {
        font-size: 22px;
        line-height: 30px;
    }

    .simple-text.mdl p {
        font-size: 18px;
        line-height: 34px;
    }

    .simple-text.md p {
        font-size: 14px;
        line-height: 24px;
        padding: 0 20px 20px 20px;
        font-family:'Open Sans', san-serif;
    }
    .simple-text.sm p {
        font-size: 17px;
        line-height: 19px;
        font-weight:700;
        color: #5b493c;        
    }
    .simple-text.xs p {
        font-size: 14px;
        line-height: 28px;
    }
.sm-size{
    font-size:60%;
}
.section {
    position: relative;
}
.full-h {
    height: 100vh;
}
.vertical-align {
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 50%;
    position: absolute;
}
.vertical-align.full, .inside-img img.full {
    left: 0px;
    width: 100%;
    text-align: center;
}
/*-------------------------------------------------------------------------------------------------------------------------------*/
/* circle-shape */

.circle-shape {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    background: #000;
    opacity: .2;
}
/*****  main-content **************/
.main-content {
    position: relative;
    height: 100%;
}
@media (max-width: 992px) {
    .main-content {
        height: auto;
    }
}
.main-content .content-load, .main-content .ajax-load-content {
    height: inherit;
}
/*****  jarallax-container **************/

.mn-name{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
    color: transparent;
}
.mn-name {
    background-image: url("img/marj-name.png");
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 70%;
    min-height: 100%;
}

/*---------------------------------  
    header and jarallax container 
  --------------------------*/ 
 #jarallax-container{
    background-image: url("img/studshow-02.jpg");
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #483726;
    height: 100%;
    min-height: 180px;
}  
 @media (min-width: 1400px) {
        #jarallax-container {
       min-height: 700px;
        }
    .mn-name {
        font-family: 'Amatic SC', cursive;
        background-size: 50%;
    }
 }
@media (max-width: 1400px) {
    #jarallax-container {
       min-height:380px;
    }
    .mn-name {
        background-size: 50%;
    }
}
    @media (max-width: 1200px) {
        #jarallax-container {
           min-height: 370px; 
        }
        .mn-name {
            background-size: 50%;
        }
    }
    @media (max-width: 992px) {
        #jarallax-container {
           min-height: 340px;
        }
    }
    @media (max-width: 768px) {
        #jarallax-container {
          min-height: 260px;
        }
    }
    @media (max-width: 480px) {
        #jarallax-container {
            min-height: 120px;
        }
         .mn-name {
            min-height: 60%;
         }
    }
/*@media only screen and (max-device-width: 1366px) {
    #jarallax-container {
        background-attachment: scroll;
    }
}*/
/*-----------------------------
    side-lidt-text
-----------------------------*/
.mobile-toggle-slide {
    text-align: center;
    position: relative;
    margin: 0 auto;
    width: 100%;
}
.slide-lidt-text {
    position: relative;
    width: 100%;
    display: inline-block;
    height: 80px;
     margin: 0px auto;
    padding-top:4%; 
    cursor: pointer;
    color: #483726;
    background-color: #2f86b0; 
    -webkit-transition: all 0.35s ease-out;
    -moz-transition: all 0.35s ease-out;
    transition: all 0.35s ease-out;
}
    .slide-lidt-text span {
        font-size: 40px;
        color: #483726;
        font-family: 'Amatic SC', cursive;
        font-weight: 700;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
    }
.slide-toggle-list {
    display: none;
}
 .mobile-toggle-slide ul {
        position: absolute;
        left: 0px;
        top: 0px;
        min-width: 100%;
        z-index: 50;
        box-shadow: 0px 35px 79px rgba(4, 5, 5, 0.5);
}

 /*  ----------------------------
   .filter-list
-----------------------------*/
    .filter-list {
      text-align: center;
        padding-bottom: 0px;       
    }

        .filter-list .tag-link-2 {
            position: relative;
            padding-top: 0.5%;
            display: inline-block;
            background-position: center;
            background-color: #534733;
            color: #534733;
            font-family: 'Amatic SC', cursive;
            font-weight: 700;
            font-size: 26px;
            top: 3%;
            bottom: 3%;
            min-height: 100px;
            width: 250px;
            border-radius: 3px;
            overflow: hidden;
            z-index: 1;
            cursor: pointer;
            -webkit-transition: all 0.25s ease-out;
            -moz-transition: all 0.25s ease-out;
            transition: all 0.25s ease-out;
        }
            .filter-list .tag-link-2 span:before {
                z-index: 5;
                position: relative;
                color: #483726;
                font-size: 22px; 
                text-transform: uppercase;
                font-family: 'Amatic SC', cursive;
                font-weight: 700;
                letter-spacing: 1.4px;
                line-height: 34px;
                -webkit-transition: all 0.35s ease-out;
                -moz-transition: all 0.35s ease-out;
                transition: all 0.35s ease-out;
            }

    .filter-list .tag-link-2:before {
        content: '';
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        -webkit-transform: translateX(110%);
        -moz-transform: translateX(110%);
        -ms-transform: translateX(110%);
        transform: translateX(110%);
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
    }

    .filter-list .tag-link-2:hover:before, .filter-list .tag-link-2.active:before {
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        transform: translateX(0%);
    }

.filter-list .tag-link-2 span:hover, .filter-list .tag-link-2 span:active {
    color: #d49244;
}

.mobile-toggle-slide .filter-list .tag-link-2:hover, .mobile-toggle-slide .filter-list .tag-link-2:active {
    color: #534733;
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    font-size: 28px;
}
    .tag-link-2{
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        background-size: cover;
    }

 @media (max-width: 1400px) {
        .mobile-toggle-slide .filter-list .tag-link-2 .slide-lidt-text {
            height: 120px;
            display: inline-block;
        }       
}

/*.slide-toggle-list {
        display: inline block;
    }
-----------------------------------*/
/* 21. PROJECT PAGE IZOTOPE */
/*-----------------------------------*/
* {
    box-sizing: border-box
}
.izotope-container {
    position: relative;
    background: #ddd;
   height: 100%;
    width: 100%;
    margin:0 auto;
}
/* clearfix */
    .izotope-container:after {
        content: '';
        display: block;
        clear: both;
    }
.izotope-append {
    position: relative;
    width: 100%;
    display: none;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    height: 0px;
}
    .izotope-append .item {
        display: none;
    }
.izotope-append.act {
        visibility: visible;
        opacity: 1;
        display: block;
        height: auto;
        overflow: visible;
 }
.izotope-append.act .item {
            display: block;
}

.grid-sizer, .item{
    width:25%
}
/*from style-original
.gutter-sizer .item {
    padding: 0px 15px 30px;
}*/
.item {
    float: left;
  /* display: block;  */
}
.item img {
      display: block; 
        max-width: 100%;
}
.project-item {
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}
    .project-item img {
        width: 100%;     
        display: block;
        opacity: 1;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        transition: all 0.5s ease;
        backface-visibility: hidden;
    }
        .project-item img:hover, .project-item img:active {
            opacity: 1.0;
            cursor: crosshair;
        }
.project-title {
    position: absolute;  
    left: 4%;
    right: 4%;
    bottom: 0;
    padding: 2%;
    opacity: 0;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    transition: 0.5s ease;
    background: rgba(251, 250, 249, 0.5);
    transform: translate(0%, -120%);
    -ms-transform: translate(0%, -120%);
    transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    backface-visibility: hidden;
    text-align: center;
    max-width: 100%;
    color: #483726;
}
    .project-title .title-h2 {
        font-size: 30px;
        line-height: 38px;
        font-family: 'Amatic SC', cursive;
        font-weight: 700;
        color: #483726;
    }
.project-title .simple-text.sm p{
   padding-bottom: 5px;
}
.project-title .sub-title .sm {
    color: #534733;
   padding-bottom: 10px;
    font-size: 14px;
    font-weight: 500;
}
@media (max-width: 1400px) {
    .project-title .sub-title {
       margin-bottom: 10px;
    } 
}
 @media (max-width: 480px) {
        .grid-sizer,
        .item {
            width: 50%
        }
        .project-title .title-h2 {
                font-size: 28px;
                line-height: 38px;
            }
            .project-title .sub-title {
                font-size: 11px;
            }
}
.icon-circle-thin:before {
        content: '\f1db';
 }
/*****item-scale-hover *****/
.item.scale-hover:hover .project-item {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    z-index: 5;
    box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.4);
}
    .item.scale-hover:hover .project-item .project-title{
        opacity: 1;
    }
/*---------------- #about ----------------------*/
#about {  
   position: relative;
   -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
#about {
    width: 100%;
 /*   height: 100vh;*/
    padding-bottom: 70px;
    padding: 0px;
    border-top-width: 0px;
}
  /*  #about .content-load, #about.ajax-load-content {
        height: inherit;
    }
#about, .main-content .contact {
    height: inherit;
    padding: 0px;
    background-color: #fff;
}*/
 .solo-baner {
        background: #c0c029;
       position: relative;
        width: 100%;
        height: 100%;
    }
@media (max-width: 1400px) {
    .solo-baner {
        padding: 66px 0px;
    }
}
@media (max-width: 768px){ 
    .solo-baner {
        min-height: 780px;
    }
}
.solo-baner.overflowh {
    overflow: hidden;
}
@media (max-width: 992px){
    .solo-baner.overflowh {
        padding-bottom: 0px;
    }
}
@media (max-width: 992px){ 
    .solo-baner.overflowh.slider-swiching {
        padding-bottom: 0px;
    }
}
.solo-baner .main-img {
            position: absolute;
            right: -5%;
            bottom: 0px;
            width: 83%;
        }
.solo-baner .main-img img {
                width: 100%;
                height: auto;
 }
/*.solo-baner.overflowh {
            overflow: hidden;
        }*/

 .solo-main-title {
        padding: 0px 70px 0px 140px;
        z-index: 5;
}
.solo-main-title .title-md {
            font-size: 45px;
            line-height: 50px;
            padding-bottom: 10px;
 }
    .left-column {
        width: 60%;
        float: left;
        height: 100%;
        position: relative;
        background-color: #c0c027;
    }
    .right-column {
        width: 40%;
        float: left;
        height: 100%;
        position: relative;
    }
.solo-page3 .left-column {
    width: 55%;
}
.solo-page3 .right-column {
    width: 45%;
}
    .solo-sub-title {
        position: absolute;
        font-size: 13px;
        text-transform: uppercase;
        letter-spacing: 1.4px;
        font-weight: 700;
        color: #4d4d4e;
        display: block;
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
        left: 160px;
        top: -30px;
    }
    .main-slider {
        position: relative;
        width: 100%;
        height: inherit;
        display: inline-block;
    }
    .slide-point {
        position: relative;
        width: 123px;
        height: 123px;
        border-radius: 50%;
        cursor: pointer;
    }
/*.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 20px;
    text-align: center;
    position: relative;
}
.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 100%;
    background: #000;
    opacity: .2;
}
.swiper-pagination-bullet-active {
    opacity: 1;
    background: #40708a;
}*/
.point-circle-slider .swiper-slide {
            padding: 0px 10px;
        }
    .point-circle-slider {
        position: absolute;
        left: 50px;
        bottom: 45px;
        width: 100%;
    }
   .point-circle-slider.swiper-container {
            width: auto;
            display: inline-block;
        }
       
    @media (max-width: 992px) {
         .point-circle-slider {
            text-align: center;
            left: 0px;
            bottom: 20px;
        }
         .point-circle-slider .swiper-slide {
            padding: 0px 5px;
        }
    }
    .circle-solo-point.point-circle-slider {
        position: relative;
        display: inline-block;
        width: 100%;
        left: 0px;
        bottom: auto;
    }
        .circle-solo-point.point-circle-slider .swiper-slide {
            padding: 0px 15px 0px 0px;
        }
        .circle-solo-point.point-circle-slider .slide-point .path {
            stroke: #483726;
            stroke-width: 2px;
        }
        .circle-solo-point.point-circle-slider .slide-point {
            width: 62px;
            height: 62px;
        }
            .circle-solo-point.point-circle-slider .slide-point:before {
                box-shadow: inset 0px 0px 0px 2px rgba(77, 77, 78, 0.3);
                opacity: 1;
                backface-visibility: hidden;
            }
            .circle-solo-point.point-circle-slider .slide-point:hover:before, .circle-solo-point.point-circle-slider .slide-point.active:before {
                box-shadow: inset 0px 0px 0px 2px #4d4d4e;
            }

            .circle-solo-point.point-circle-slider .slide-point span {
                position: absolute;
                font-size: 26px;
                font-weight: 700;
                left: 0%;
                top: 0%;
                width: 100%;
                height: 100%;
                line-height: 62px;
                text-align: center;
                color: rgba(77, 77, 78, 0.5);
                -webkit-transition: all 0.25s ease-out;
                -moz-transition: all 0.25s ease-out;
                transition: all 0.25s ease-out;
            }

            .circle-solo-point.point-circle-slider .slide-point:hover span, .circle-solo-point.point-circle-slider .slide-point.active span {
                color: #4d4d4e;
            }
    .solo-page3 .left-column {
        width: 60%;
    }
    .solo-page3 .right-column {
        width: 40%;
    }
    .slide-shadow img {
        height: 100%;
        width: auto;
    }
.solo-title-counter, .solo-comment-slide p, .author-comm .title, .open-slider, .open-slider b, .author-comm .colmm-tags, .author-comm:before, .testi-slider, .solo-comment-slider, .comm-arrow, .solo-comment-slide p a, .solo-projects-slider, .filter-number-slider, .solo-sub-title, .slide-lidt-text {
    -webkit-transition: all 0.35s ease-out;
    -moz-transition: all 0.35s ease-out;
    transition: all 0.35s ease-out;
}
    @media (max-width: 1800px) {
        .solo-main-title {
            padding: 0px 40px 0 90px;
            color: #5b493c;
        }
        .solo-sub-title{
          top: 200px;
          left: -30px;
        }
        .solo-main-title .title-md {
            font-size: 60px;
            line-height: 70px;
            padding-top: 25px;
            padding-bottom: 25px;
        }
        .solo-main-title .simple-text.md p {
            font-size: 18px;
            line-height: 30px;
        }
    }
.solo-main-title .simple-text {
   /*max-width: 540px;*/ 
    padding-bottom: 35px;
}
    @media (max-width: 1400px) {
        .solo-main-title .title-md {
            font-size: 45px;
            line-height: 50px;
        }
        .solo-baner {
           padding: 0px; 
        }
    }

    @media (max-width: 992px) {
        .solo-main-title .title-md {
            font-size: 45px;
            line-height: 50px;
            padding-bottom: 40px;
        }
        .solo-main-title.vertical-align, .search-panel.popup .solo-main-title.close, .amount-wrap .solo-main-title.val, .inside-img img.solo-main-title {
            position: relative;
            left: 0px;
            top: 0px;
            -webkit-transform: translateY(0);
            -moz-transform: translateY(0);
            -ms-transform: translateY(0);
            transform: translateY(0);
            padding: 60px;
        }
     /*   .slide-shadow.vertical-align, .search-panel.popup .slide-shadow.close, .amount-wrap .slide-shadow.val, .inside-img img.slide-shadow, .slide-shadow.skill-line {
            position: relative;
            left: 0px;
            -webkit-transform: translateY(0);
            -moz-transform: translateY(0);
            -ms-transform: translateY(0);
            transform: translateY(0);
            top: 0px;
        } */
        
     .left-column, .right-column, .left-desc, .right-desc {
            width: 100%;
            height: auto; 
        }
    .right-column .main-slider {
                height: 100vh;
            }
 .solo-baner.overflowh.slider-swiching {
            padding-bottom: 0px;
        }
        .solo-baner.overflowh {
            padding-bottom: 0px;
        }
        .bg-position > .bg, .bg-position > .service-layer {
            display: none;
        }
        .right-column.bg-position .main-slider {
            height: auto;
        }
            .right-column.bg-position .main-slider .swiper-container {
                padding-bottom: 60px;
            }
    }
    @media (max-width: 768px) {
        .solo-main-title {
            padding: 0px 30px;
        }
            .solo-main-title .title-md {
                font-size: 50px;
                line-height: 60px;
            }
        .solo-main-title.vertical-align, .solo-main-title.close,.solo-main-title.val, .inside-img img.solo-main-title {
            padding: 30px;
        }
        .solo-sub-title {
            position: relative;
            left: 0px;
            top: 0px;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            transform: rotate(0deg);
            padding: 30px 0px 0px 30px;
        }    
    }
    @media (max-width: 480px) {
        .simple-text.md p {
            font-size: 16px;
            line-height: 22px;
        }
        .solo-page3 .left-column {
            width: 100%;
        }
        .solo-page3 .right-column bg-position {
            align-content: center;
        }
        .solo-page3 .right-column {
            width: 100%;
        }
        .solo-main-title .title-md {
            font-family: 'Merienda', cursive;
            font-size: 30px;
            line-height: 30px;
        }
        .solo-main-title {
            padding: 0px 15px;
        }
        .solo-main-title.vertical-align, .inside-img img.solo-main-title {
            padding: 5px 15px;
        }
        .solo-sub-title {
            padding: 30px 0px 0px 15px;
        }
        .right-column.bg-position .main-slider {
            height: auto; 
            padding-bottom: 0px;
        }
    }
.solo-main-title .title-md {
    font-family: 'Merienda', cursive;
}
    /******** #contact******/
    #contact {
    position: relative;
    height: 100%;
    padding: 0px 0px 20px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
#contact .solo-baner {
    background: #ebebe9;
    position: relative;
    width: 100%;
    height: 100%;
}
    #contact .left-desc {
        width: 50%;
        float: left;
        height: 100vh;
        position: relative;
    }
    #contact .right-desc {
        width: 50%;
        float: left;
        height: 100vh;
        position: relative;
    }
@media (max-width: 992px) {
    #contact .left-desc, #contact .right-desc {
        width: 100%;
        height: auto;
    }
}
#contact .right-desc .cform {
            position: absolute;
            right: -5%;
            bottom: 0px;
            width: 83%;
            margin: 20px auto;
            padding-top: 30px;
        }
    #contact .caption {
        position: relative;
        text-align: left;
    }
#contact .left-desc .title-sm {
    font-family: 'Merienda', cursive;
    font-size: 32px;
    line-height: 44px;
    padding-bottom: 40px;
    display: inherit;
}
    #contact .left-desc .solo-main-title .sub-title {
        font-size: 16px;
        line-height: 24px;
        padding-bottom: 30px;
        font-family: 'Open Sans', san-serif;
    }
   .iframe-container {
        position: relative;
        background-color: #2f86b0;
        padding: 30px;
        text-align: center;
    }
     .iframe-container i-frame {
            border: 0;
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }
    #contact .addr-item-wrap {
        padding-bottom: 40px;
        text-align: center;

    }
    #contact .addr-item .sub-title {
        font-size: 20px;
        color: rgba(0, 0, 0, 0.5);
        padding-bottom: 20px;
    }
    #contact .addr-item {
        padding-bottom: 30px;
    }
#contact .addr-list li {
    font-size: 24px;
    line-height: 44px;
    font-weight: 400;
    font-family: 'Merienda', cursive;
    color: #5b493c;
}
   #contact .addr-list li a, .addr-item .link a {
            font-size: 22px;
            line-height:36px;
            color: #483726; 
            cursor: pointer;
            font-family: 'Open Sans', san-serif;
        }       
#contact .addr-item .addr-list li a:hover, .addr-item .link a:hover {
            color: rgba(4, 5, 5, 0.5);
}

 #contact .right-desc {
        float: left;
        height: 100%;
        position: relative;
        display: inherit;
        display: inline-block;
}
 @media (max-width: 1700px) {
    #contact .left-desc {      
    }
    #contact .left-desc .title {
            font-size: 40px;
            line-height: 54px;
            font-family: 'Kaushan Script','Script MT';
            color: #483726;
            padding: 0px 60px;
    }
    #contact .addr-item .addr-list li, .addr-item .link {
        font-size: 20px;
        line-height: 24px;
    }
}

@media (max-width: 1400px) {
    #contact .left-desc .title {
        padding-bottom: 50px;
    }
    #contact .addr-item .addr-list li, .addr-item .link {
        font-size: 20px;
        line-height: 24px;
    }
    #contact .addr-item {
        padding-bottom: 30px;
    }
    .copyright {
            margin-bottom: 30px;
        }
 }

 @media (max-width: 992px) {
        #contact .addr-item-wrap {
            padding-bottom: 30px;
        }
        .full-height-baner.upper {
            height: 100vmin;
            min-height: 800px;
        }
        #contact .left-desc.column-50 {
            width: 100%;
            height: auto;
            padding: 0px 30px;
        }
         #contact .left-desc.column-50 .vertical-align, .left-desc.column-50 .search-panel.popup .close, .search-panel.popup .left-desc.column-50 .close, .left-desc.column-50 .amount-wrap .val, .amount-wrap .left-desc.column-50 .val, .left-desc.column-50 .inside-img img, .inside-img .left-desc.column-50 img, .left-desc.column-50 .skill-line {
                position: relative;
                display: inline-block;
                width: 100%;
                top: auto;
                -webkit-transform: translateY(0px);
                -moz-transform: translateY(0px);
                -ms-transform: translateY(0px);
                transform: translateY(0px);
         }
        #contact .left-desc.column-50 .caption {
                padding: 45px 0px 60px;
                text-align: center;
            }
        #contact .right-desc.column-50 {
            width: 100%;
            height: 100%;
        }
} 
    /****FOOTER******/
.footer {
        text-align: left;
        height: auto;
        padding: 25px;
    }
.footer .copyright {
            float: none;
            width: 100%;
            margin-bottom: 20px;
        }
    @media (max-width: 1200px) {
        .footer {
            height: 70px;
        }
    } 
    @media (max-width: 768px) {
        .footer {
            margin: 0px 15px;
        }
    }
    @media (max-width: 480px) {
        .footer {
            display: inline-block;
        }
    }



